.Description-container{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2245px;
    max-width: 600px;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
}
.Description-header {
    min-width: 343px;
    max-width: 568px;
    width: 90%;
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.Description-header div {
    display: flex;
    flex-direction: row;
    height: 20px;
}
.Description-header img {
    width: 20px;
}
.Description-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 73px;
    margin-bottom: 10px;
    min-width: 350px;
    max-width: 575px;
    width: 90%;
    margin-left: auto;
}
.Description-product-name {
    width: 200px;
    text-align: start;
    font-size: 21px;
    margin: 0px;
}
.Description-big-img-container{
    position: absolute;
    right: 0;
    padding-right: 60px;
    top: 120px;
    max-height: 270px;
    background-color: #e8e8e8;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform-origin: 50% 10px;
    animation: slide 700ms 1 ease-in-out;
}
.Description-big-img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100px;
    height: 377px;
    top: -130px;
}
.Description-product div img {
    width: 160px;
    top: 3px;
    left: -7px;
    transform-origin: 50% 10px;
    animation: visibl 700ms 1 ease-in-out;
}
.Description-product-specifications {
    display: flex;
    flex-direction: column;
    text-align: start;
    min-width: 350px;
    max-width: 575px;
    width: 90%;
    margin-left: auto;
}
.Description-product-specifications-price {
    margin-bottom: 33px;
}
.Description-product-specifications-name {
    opacity: 0.5;
    margin-top: 4px;
}
.Description-product-specifications-imgs {
    margin-top: 36px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
}
.Description-product-specifications-img-container {
    width: 49px;
    height: 44px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}
.Description-product-specifications-img-container div {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35px;
    height: 83px;
    top: -30px;
    cursor: pointer;
}
.Description-product-specifications-img-container:hover {
    background-color: #ff5753;
}
.Description-product-specifications-imgs div img {
    width: 35px;
}
.Description-product-specifications-title {
    opacity: 0.5;
    margin-bottom: 3px;
}
.Description-product-specifications-text {
    min-width: 232px;
    width: 80%;
    font-size: 16px;
}

/*animations*/
@keyframes slide{
  
    0%{
      
        transform:translate(60px, 0px);
    }
    100%{
      
        transform:translate(0px, 0px);
    }
}
@keyframes visibl{
  
    0%{
      
        opacity: 0;
    }
    100%{
      
        opacity: 1;
    }
}